body {
    background-color:#242222;
    font-family: 'Nunito', sans-serif;
    color: white;
    padding-top: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight:400px;
    }
li a {
    font-weight:bold;
}
.nav a {
    color:white;
    text-decoration:none;
    float:left;
    }
.nav a:hover{
    color:#FFD540;
    }
.nav-link {
    display: inline;
    width:max-content;
    top:auto;
    position:static;
    max-width: max-content;
    margin-left: 75px; 
    font-weight:400px;
}
.head{
    text-align:center;
    font-weight:400px;
    color: #FFD540;
    font-size:64px;
    font-style: normal;
    padding:5px;
}
.case_title {
    color:#FFD540;
    text-align: center;
}
footer {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.secondary_text{
    width: 878px;
height: 79px;
flex-shrink: 0; 
}
ul {  
    list-style-type: none;
     margin: 0;
    padding: 0;
    overflow: hidden;
  }
li {
}
a {
    display: block;
    padding: 8px;
    font-weight:400;
  }
#case_div {
    text-align:center;
    margin: auto;
    border-style: solid;
    height: 500px;
    width: 300px;
    margin: 20px;
    background-color:#242222;
    border-radius:40px;
    border-color: #FFD540;
    outline:#FFD540;
    outline: style solid;
    text-indent:0px;
    margin-right:5px;
}
.case_link {
    list-style-type: none;
}
.case-study-links{
    margin:20px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    text-align:center;
}
.case-study-links a{
    margin-top:20px;
    text-decoration:none;
    padding:10px;
    color: #FFD540;
    font-weight: bolder;
}
.case-study-links a:hover{
    color:white
}
.case_view {
    text-align:center;
}
.case_view a {
    margin-top:20px;
    text-decoration:none;
    padding:0;
    color: #FFD540;
    font-weight: bolder;
    text-align: center;
}
.case_view a:hover{
    color: white;
}
.social2 {
    margin-bottom:7px;
}
footer{
    padding:50px;
    text-align: center;
}
h4 {
    color: #FFD540;
    font-weight: bolder;
}
